<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body style="width: 1200px; height: 600px; background-color: black; margin: 0;">
  <div style="width: 100%; height: 100%; display: flex; align-items: center;">
    <div style="min-width: 35%; max-width:35%">
      <svg style="float: right;" width="232" height="96" viewBox="0 0 116 48" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.12 48V0.831997H27.256L34.36 7.936V19.008L31.288 22.464L36.472 27.584V40.896L29.368 48H0.12ZM8.12 19.776H23.544L26.296 16.576V10.688L23.48 7.872H8.12V19.776ZM8.12 40.96H25.592L28.408 38.144V29.632L25.592 26.816H8.12V40.96ZM40.9525 48L52.7925 30.912L40.9525 14.528H50.2325L58.9365 27.2H60.4725L69.1125 14.528H78.3925L66.6165 30.848L78.3925 48H68.9205L60.4085 34.752H58.8085L50.4885 48H40.9525ZM83.3505 48V38.208L107.479 16.448V10.688L104.663 7.872H92.8225L88.1505 12.544L82.9025 7.232L89.3025 0.831997H108.375L115.479 7.936V19.776L92.4385 40.704H115.927V48H83.3505Z"
          fill="white" />
      </svg>
    </div>

    <div style="max-width: 65%; margin: 0 160px 0 30px; padding-left: 30px; border-left: 2px solid white;">
      <p style="color:white; font-family: 'Lato', sans-serif; font-size: 24px;  margin: 0;">
        {{meta.date}}
      </p>
      <p style="color:white; font-family: 'Lato', sans-serif; font-size: 72px; font-weight: bold; margin: 0 0 15px 0;">
        {{meta.title}}
      </p>
    </div>
  </div>
</body>

</html>