@use 'styles/partials/_mixins';
@use 'styles/partials/_variables';

.container {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-bottom: 50px;

  @include mixins.onMobile {
    flex-direction: column;
    text-align: center;
  }

  // For the LazyLoadImage component
  span {
    @include mixins.onMobile {
      margin: 0 auto;
    }
  }
}

.image {
  clip-path: circle(110px at center);
  margin-right: 10px;
}

.info {
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

@mixin scaleOnHover($scale) {
  transition-duration: variables.$transition-duration-fast;
  transition-property: transform;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale($scale);
    }
  }
}

.cvButton {
  @include scaleOnHover(0.98);
}

.socials > * {
  @include scaleOnHover(0.9);
  display: inline-block;

  &:not(:last-child) {
    margin-right: 20px;
  }
}
