$base-color: black;
$inactive-color: #c4c4c4;
$base-text-color: black;
$inverse-text-color: white;

$font-size-heading-large: 64px;
$font-size-heading-medium: 36px;
$font-size-heading-small: 24px;
$font-size-paragraph: 18px;

$line-height-heading-large: 77px;
$line-height-heading-medium: 43px;
$line-height-heading-small: 29px;
$line-height-paragraph: 22px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$breakpoint-mobile: 576px;

$transition-duration-regular: 0.25s;
