$base-color: black;
$inactive-color: #c4c4c4;
$base-text-color: black;
$inverse-text-color: white;

$font-size-heading-large: 4em;
$font-size-heading-medium: 2.25em;
$font-size-heading-small: 1.5em;
$font-size-paragraph: 1.125em;

$breakpoint-mobile: 576px;
