@use './partials/_variables';
@use './fonts';

body {
  margin: 0;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  color: variables.$base-text-color;
  font-size: 100%;

  & * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

h1 {
  font-size: variables.$font-size-heading-large;
  font-weight: variables.$font-weight-bold;
  line-height: variables.$line-height-heading-large;
}

h2 {
  font-size: variables.$font-size-heading-medium;
  font-weight: variables.$font-weight-bold;
  line-height: variables.$line-height-heading-medium;
}

h3 {
  font-size: variables.$font-size-heading-small;
  font-weight: variables.$font-weight-medium;
  line-height: variables.$line-height-heading-small;
}

p,
a {
  font-size: variables.$font-size-paragraph;
  line-height: variables.$line-height-paragraph;
}
