@use './partials/_variables';

$themes: (
  light: (
    base-color: variables.$light-black,
    inactive-color: variables.$inactive-color,
    base-text-color: variables.$light-black,
    inverse-text-color: variables.$light-white,
    code-background-color: variables.$code-black,
    code-text-color: variables.$code-white,
    base-background-color: variables.$light-white,
    hover-shadow: rgba(0, 0, 0, 0.25),
    base-filter: variables.$dark-filter,
    inverse-filter: variables.$light-filter,
  ),
  dark: (
    base-color: variables.$light-white,
    inactive-color: variables.$inactive-color,
    base-text-color: variables.$light-white,
    inverse-text-color: variables.$light-black,
    code-background-color: variables.$code-white,
    code-text-color: variables.$code-black,
    base-background-color: variables.$light-black,
    hover-shadow: rgba(255, 255, 255, 0.25),
    base-filter: variables.$light-filter,
    inverse-filter: variables.$dark-filter,
  ),
);