@use 'styles/partials/_variables';
@use 'styles/partials/_mixins';

.content > *:not(:last-child) {
  margin-bottom: 22px;
}

.p {
  text-align: justify;
}

.code {
  @include mixins.themed(){
    background-color: mixins.t("code-background-color");
    color: mixins.t("code-text-color");
  }
  padding: 0 5px;
  border-radius: 5px;
  font-size: smaller;
  vertical-align: middle;
}

.link {
  @include mixins.themed(){
    color: mixins.t("base-text-color");
  }
  font-size: inherit;
  line-height: inherit;
}

.list {
  @extend .p;
  font-size: variables.$font-size-paragraph;
  line-height: variables.$line-height-paragraph;
  padding-left: 30px;
}

.li {
  margin: 5px 0;
}
