@use 'styles/partials/_variables';
@use 'styles/partials/_mixins';

.container {
  @include mixins.themed(){
    background-color: mixins.t("base-color");
  }
  padding: 60px 0;

  @include mixins.onMobile {
    padding: 50px 0;
  }

  img {
    @include mixins.themed(){
      filter: mixins.t("inverse-filter");
    }
  }
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mixins.onMobile {
    flex-direction: column;
  }
}

.navigation {
  display: flex;
  align-items: center;

  a {
    display: inline-block;
    text-align: center;
    min-width: 75px;
    text-decoration: none;
    @include mixins.themed(){
      color: mixins.t("inverse-text-color");
    }
    font-size: variables.$font-size-heading-medium;
    font-weight: 700;

  }
  
  & > *:not(:last-child) {
    margin-right: 40px;

    @include mixins.onMobile {
      margin-right: 10vw;
    }
  }

  @include mixins.onMobile {
    margin-top: 30px;
  }
}
