@use 'styles/partials/_variables';
@use 'styles/partials/_mixins';

.container {
  display: flex;

  @include mixins.onMobile {
    flex-direction: column;
  }
}

.content {
  width: 100%;
}

.sidePanel {
  width: min-content;
  max-width: 200px;
  height: min-content;
  text-align: right;
  padding-right: 5px + 15px;
  margin-right: 20px;
  position: sticky;
  top: 65px;

  @include mixins.onMobile {
    display: none;
  }
}

.sidePanelMobile {
  display: none;

  @include mixins.onMobile {
    display: contents;
  }
}

.sidePanelTitle {
  margin-bottom: 15px;
}

.pipeDecoration {
  width: 5px;
  height: 100%;
  border-radius: 20px;
  background-color: variables.$inactive-color;
  position: absolute;
  right: 0;
  top: 0;
}
